  <footer>
    <div class="container container_wide">

      <ul class="float_list float_list_4">
        <li>
          <h3>OTS in your city</h3>
          <ul>
            <li>
              <a href="/berlin/">Berlin</a>
            </li>
            <li>
              <a href="/stockholm/">Stockholm</a>
            </li>
            <li>&nbsp;</li>
            <li>
              <a href="/handbooks/city-blueprint.html">your city &hellip;?</a>
            </li>
          </ul>
        </li>

        <li>
          <h3>Connect</h3>
          <ul>
            <li>
              <a href="http://blog.opentechschool.org/">Blog</a>
            </li>
            <li>
              <a href="http://twitter.com/opentechschool">Twitter</a>
            </li>
            <li>
              <a href="https://www.facebook.com/OpenTechSchool">Facebook</a>
            </li>
            <li>
              <a href="https://github.com/OpenTechSchool/">Github</a>
            </li>
            <li>
              <a href="https://plus.google.com/b/114834784518588736271/114834784518588736271/posts">Google+</a>
            </li>
            <li>
              <a href="https://groups.google.com/a/opentechschool.org/forum/?fromgroups#!forum/discuss.global">Mailinglist</a>
            </li>
          </ul>
        </li>



        <li>
          <h3><a href="/handbooks/">Handbooks</a></h3>
          <ul>
            <li>
              <a href="http://opentechschool.github.com/slides/presentations/coaching/">Coaches Guideline</a>
            </li>
            <li>
              <a href="/handbooks/new-workshop.html">New Workshop</a>
            </li>
            <li>
              <a href="/handbooks/city-blueprint.html">City Blueprint</a>
            </li>
            <li>
              <a href="/handbooks/contributing.html">Contributing</a>
            </li>
            <li>
              <a href="/handbooks/blog-posts.html">Blog Post</a>
            </li>
            <li>
              <a href="/handbooks/learners_meetup.html">Learners Meetup</a>
            </li>
          </ul>
        </li>

        <li>
          <h3>More content</h3>
          <ul>
            <li>
              <a href="/press.html">Press</a>
            </li>
            <li>
              <a href="/imprint.html">Imprint</a>
            </li>
            <li>
              <a href="/contact.html">Contacts</a>
            </li>
            <li>
              <a href="/handbooks/styles.html">Styleguide</a>
            </li>
            <li>
              <a href="/handbooks/mailinglists.html">Mailinglists</a>
            </li>
            <li>
              <a href="/handbooks/promotion.html">Promotion</a>
            </li>
          </ul>
        </li>
      </ul>


      <p>
        © 2011-2012 by <a href="http://www.opentechschool.org">OpenTechSchool</a>&nbsp;&nbsp;||&nbsp;&nbsp;<a href="/contact.html">Contact us</a>&nbsp;&nbsp;||&nbsp;&nbsp;<a href="/imprint.html">Impressum</a>
      </p>
      <p>
        <a title="we are under creative commons" href="http://creativecommons.org/licenses/by/3.0/"><img src="/images/by-sa-cp.png"></a><br>
        <small>
          Except where otherwise noted, content on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
        </small>
      </p>

    </div>
  </footer>
