  <footer>
    <div class="container">


      <h3>OTS in your city</h3>
      <ul>
        <li>
          <a href="http://blog.opentechschool.org/">Berlin</a>
        </li>
        <li>
          <a href="http://blog.opentechschool.org/">Stockholm</a>
        </li>
      </ul>

      <h3>Connect</h3>
      <ul>
        <li>
          <a href="http://blog.opentechschool.org/">Blog</a>
        </li>
        <li>
          <a href="http://blog.opentechschool.org/">Twitter</a>
        </li>
        <li>
          <a href="http://blog.opentechschool.org/">Facebook</a>
        </li>
        <li>
          <a href="http://blog.opentechschool.org/">Github</a>
        </li>
      </ul>
      
      <h3>Internal</h3>
      <ul>
        <li>
          <a href="/styleguide.html">Styleguide</a>
        </li>
      </ul>

      <p>
        © 2011-2012 by <a href="http://www.opentechschool.org">OpenTechSchool</a>&nbsp;&nbsp;||&nbsp;&nbsp;<a href="http://www.opentechschool.org/imprint.html">Impressum</a>
      </p>

    </div>
  </footer>
