<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <title>OpenTechSchool – {{ page.title }}</title>

  <meta name="description" content="OpenTechSchool is a community initiative to
  provide programming and other tech-related workshops to women and their
  friends of all genders. We take care of the organizational side of things
  (venues, press, finding participants) and let our volunteer coaches to create
  the curriculum according to their vision. Our main goal is to create a
  friendly and safe learning environment where no one feels shy about asking any
  question. Everyone, no matter what their gender, skill level or experience, is
  invited to participate, whether as a coach or a learner" />
  <meta name="author" content="OpenTechSchool">
  <meta property="og:title" content="OpenTechSchool" />
  <meta property="og:type" content="school" />
  <meta property="og:url" content="https://{{ site.url }}" />
  <meta property="og:image" content="https://{{ site.url }}/images/ots_logo_fb.png" />
  <meta property="og:site_name" content="{{ site.url }}" />
  <meta property="og:description" content="OpenTechSchool is a community
  initiative to provide programming and other tech-related workshops to women
  and their friends of all genders. We take care of the organizational side of
  things (venues, press, finding participants) and let our volunteer coaches to
  create the curriculum according to their vision. Our main goal is to create a
  friendly and safe learning environment where no one feels shy about asking any
  question. Everyone, no matter what their gender, skill level or experience, is
  invited to participate, whether as a coach or a learner." />
  <meta property="fb:admins" content="825782113" />
  <meta name="google-site-verification" content="cizmd_BK4e8dE6wDjWKhEqm9neNia-CbnN0hu21trn4" />

  <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico" />

  <style>
    article, aside, dialog, figure, footer, header,
    hgroup, menu, nav, section { display: block; }
  </style>
  <link href="{{site.baseurl}}/stylesheets/screen.css?v={{site.css_version}}"
  media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,600,700"
  rel="stylesheet" type="text/css" />
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript">
  if(!window.$) {
    window.__call_laters = [];
    function jq_dummy(fun) {
       window.__call_laters.push(fun)
    }
    window.$ = jq_dummy;
  }
  </script>
</head>
<body>
