<div class="site_header_landing site_header_img ">
	<header class="site_header">
	  <div class="container">
	    <h1 class="ots_logo">
	      <a href="{{site.baseurl}}">OpenTechSchool</a>
	    </h1>
	    <p>Tech Education how it is supposed to be: Hands-on, awesome, peer-driven.</p>
	  </div>
	</header>

  <div class="container intro">

    <p>
      <a href="{{site.baseurl}}">OpenTechSchool</a> is a community initiative offering free programming workshops and meetups to technology enthusiasts of all genders, backgrounds, and experience levels. It supports volunteer coaches in setting up events by taking care of the organizational details, encouraging coaches to create original teaching material. This material is then openly shared online and can be further developed by contributions from the global OTS community. OTS’ main goal is to create a friendly learning environment where no one feels shy about asking any question. Everyone is invited to participate, whether as a coach or a learner, and get in contact to organize OTS events anywhere in the world.
    </p>
    <p class="action-wrap">
        <a class="ots_action" href="{{site.baseurl}}locator/">Find a Chapter near by ⌖</a>
    </p>

  </div>
</div>
