<div class="site_header_landing site_header_img ">
	<header class="site_header">
	  <div class="container">
	    <h1 class="ots_logo">
	      <a href="{{site.baseurl}}">OpenTechSchool</a>
	    </h1>
	    <p>Tech Education how it is supposed to be: Hands-on, empowering, peer-driven.</p>
	  </div>
	</header>

  <div class="container intro">

    <p>
      Hi, we are <em><a href="{{site.baseurl}}">OpenTechSchool</a></em>, a distributed community initiative organising <em>welcoming and inclusive code learning</em> happenings with real people in the real world. Our offers are for technology enthusiasts of all ages, genders, backgrounds, and experience levels. On top, we invite anyone to become an organiser themselves, set up their own <a href="{{site.baseurl}}locator/">local chapter</a> organising learning events and <a href="http://discourse.opentechschool.org/">join our community</a> of coaches everywhere in creating original teaching material under the open <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US" target="_blank">Creative Commons Licence</a>.
    </p>
    <p class="action-wrap">
        <a class="ots_action" href="{{site.baseurl}}locator/">⌖ Find your Chapter</a>
    </p>

  </div>
</div>
