<div class="site_header_landing">

  <img class="site_header_landing_background" src="{{site.baseurl}}/images/header.jpg">

  <div class="intro">

    <h2>
      Tech Education how it is supposed to be: Hands-on, empowering, peer-driven.
    </h2>

    <ul>
      {% for city in site.cities %}
        {% include _metadata doc=city %}
        {% unless city.is_inactive %}
        <li>
          <a href="{{site.baseurl}}/{{key}}" title="{{city.location}}">
            {{city.title}}
          </a>
        </li>
        {% endunless %}
      {% endfor %}
    </ul>

  </div>
</div>
