<header class="site_header site_header_landing">

  <nav class="meta_nav">
    <div class="container">

      <div class="meta_nav_logo">
        <a href="/">OpenTechSchool</a> 
        <select name="ots_city_select" id="ots_city_select" onchange="" size="1">
          <option value="option1">Berlin</option>
          <option value="option2">Stockholm</option>
        </select>
      </div>

      <ul>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/team">Team</a>
        </li>
        <li>
          <a href="/testimonials">Testimonials</a>
        </li>
        <li>
          <a href="/press">Press</a>
        </li>
      </ul>

      <ul>
        <li>
          <a href="http://blog.opentechschool.org/">Blog</a>
        </li>
        <li>
          <a href="https://twitter.com/OpenTechSchool">Twitter</a>
        </li>
        <li>
          <a href="http://www.facebook.com/OpenTechSchool">Facebook</a>
        </li>
        <li>
          <a href="https://github.com/OpenTechSchool">Github</a>
        </li>
      </ul>

    </div>
  </nav>

  <div class="container">

    <h1 class="ots_logo">
      <a href="/">OpenTechSchool</a>
    </h1>

    <p>We organize tech workshops. The awesome kind, where you actually learn stuff.</p>

  </div>
  
</header>
