<nav class="top_bar" data-spy="affix" data-offset-top="20">
  <div class="container container_wide">

    <button type="button" class="btn_navbar" data-toggle="collapse" data-target=".nav_internal">
      <span class="icon_bar"></span>
      <span class="icon_bar"></span>
      <span class="icon_bar icon_bar_last"></span>
    </button>

    <div class="logo_top_bar">
      <a href="{{site.baseurl}}">OpenTechSchool</a>
      <div class="dropdown">
        <a id="city_dropdown" class="dropdown_toggle" data-toggle="dropdown" href="#">
        {% if page.layout == "city" or page.layout == "city_new" %}
          <b class="city">{{page.title}}</b>
        {% else %}
          <b class="city">Location</b>
        {% endif %}
          <b class="caret"></b>
        </a>
        <ul class="dropdown_menu" role="menu" aria-labelledby="city_dropdown">
          <li>
            <a tabindex="-1" href="{{site.baseurl}}berlin/" title="Berlin, Germany">Berlin</a>
          </li>
          <li>
            <a tabindex="-1" href="{{site.baseurl}}dortmund/" title="Dortmund, Germany">Dortmund</a>
          </li>
          <li>
            <a tabindex="-1" href="{{site.baseurl}}hamburg/" title="Hamburg, Germany">Hamburg</a>
          </li>
          <li>
            <a tabindex="-1" href="{{site.baseurl}}melbourne/" title="Melbourne, Australia">Melbourne</a>
          </li>
          <li>
            <a tabindex="-1" href="{{site.baseurl}}nairobi/" title="Nairobi, Kenya">Nairobi</a>
          </li>
          <li>
            <a tabindex="-1" href="{{site.baseurl}}ramallah/" title="Ramallah, West-Bank">Ramallah</a>
          </li>
          <li>
            <a tabindex="-1" href="{{site.baseurl}}stockholm/" title="Stockholm, Sweden">Stockholm</a>
          </li>
          <li>
            <a tabindex="-1" href="{{site.baseurl}}zurich/" title="Zurich, Switzerland">Zürich</a>
          </li>
        </ul>
      </div>
    </div>

    <ul class="nav nav_internal collapse">
      <li>
        <a href="{{site.baseurl}}about.html">About</a>
      </li>
      <li>
        <a href="http://learn.opentechschool.org">Learn</a>
      </li>
      <li>
        <a href="{{site.baseurl}}testimonials.html">Testimonials</a>
      </li>
      <li>
        <a href="{{site.baseurl}}team.html">Team</a>
      </li>
      <li>
        <a href="http://{{site.blog_domain}}">Blog</a>
      </li>
      <li>
        <ul class="nav nav_external">
          <li>
            <a href="http://discourse.opentechschool.org" title="Our Discuss Forum" class="ots_nav_icon discourse">Discourse</a>
          </li>
          <li>
            <a href="https://twitter.com/OpenTechSchool" title="Our Twitter" class="ots_nav_icon twitter">Twitter</a>
          </li>
          <li style="margin: 0;">
            <a href="http://www.facebook.com/OpenTechSchool" title="Our Facebook" class="ots_nav_icon facebook">Facebook</a>
          </li>
          <li>
            <a href="https://github.com/OpenTechSchool" title="Our Github" class="ots_nav_icon github">Github</a>
          </li>
        </ul>
      </li>
    </ul>

    <div class="clearfix"></div>

  </div>
</nav>
