<script>
  $(function() {
    $(".quick_nav_btn").click(function() {
      var opened = $(".quick_nav_btn").data("opened");
      console.log(opened);
      if (opened !== true){
        var curH = $(".top_bar").height();
        $(".top_bar").height("auto");
        var nextH = $(".top_bar").height();
        $(".top_bar").height(curH);
        $(".top_bar").animate({height: nextH}, 500);
        $(".quick_nav_btn").data("opened", true).addClass("open");
      } else {
        $(".top_bar").animate({height: "2.5em"}, 500);
        $(".quick_nav_btn").data("opened", false).removeClass("open");
      }

    });
  });
</script>

<nav class="top_bar" data-spy="affix" data-offset-top="40">
  <div class="container container_wide">
    <button type="button" class="btn_navbar" data-toggle="collapse" data-target=".nav_internal">
      <span class="icon_bar"></span>
      <span class="icon_bar"></span>
      <span class="icon_bar icon_bar_last"></span>
    </button>
    <a href="{{site.baseurl}}" class="menu_ots_logo">OpenTechSchool</a>
    <a href="#" class="quick_nav_btn"><span></span></a>
    <ul class="nav nav_internal collapse">
      <li>
        <a href="{{site.baseurl}}about.html">About</a>
      </li>
      <li>
        <a href="{{site.baseurl}}locator/">Teams</a>
      </li>
      <li>
        <a href="http://learn.opentechschool.org">Materials</a>
      </li>
      <li>
        <a href="http://{{site.blog_domain}}">Blog</a>
      </li>
      <li>
        <ul class="nav nav_external">
          <li>
            <a href="http://discourse.opentechschool.org" title="Our Discuss Forum" class="ots_icon discourse">Discourse</a>
          </li>
          <li>
            <a href="https://twitter.com/OpenTechSchool" title="Our Twitter" class="ots_icon twitter">Twitter</a>
          </li>
          <li style="margin: 0;">
            <a href="http://www.facebook.com/OpenTechSchool" title="Our Facebook" class="ots_icon facebook">Facebook</a>
          </li>
          <li>
            <a href="https://github.com/OpenTechSchool" title="Our Github" class="ots_icon github">Github</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="more-nav">
      <div class="container">
        <div class="two-third">
          <h3>Chapters</h3>
          <div class="chapters_list">
            <ul>
              <li>
                <a href="/berlin/" title="Berlin, Germany">Berlin</a>
              </li>
              <li>
                <a href="/brussels/" title="Brussels, Belgium">Brussels</a>
              </li>
              <li>
                <a href="/dortmund/" title="Dortmund, Germany">Dortmund</a>
              </li>
              <li>
                <a href="/hamburg/" title="Hamburg, Germany">Hamburg</a>
              </li>
              <li>
                <a href="/melbourne/" title="Melbourne, Australia">Melbourne</a>
              </li>
              <li>
                <a href="/nairobi/" title="Nairobi, Kenya">Nairobi</a>
              </li>
              <li>
                <a href="/ramallah/" title="Ramallah, West-Bank">Ramallah</a>
              </li>
              <li>
                <a href="/rheinmain/" title="RheinMain, Germany">RheinMain</a>
              </li>
              <li>
                <a href="/stockholm/" title="Stockholm, Sweden">Stockholm</a>
              </li><li>
                <a href="http://www.meetup.com/opentechschool-tel-aviv/" title="Tel-Aviv, Isreal">Tel-Aviv</a>
              </li>
              <li>
                <a href="/zurich/" title="Zürich, Switzerland">Zürich</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="a-third">
          <h3>Projects</h3>
          <ul>
            <li>
              <a href="/berlin/" title="Berlin, Germany">App Summer Camps</a>
            </li>
            <li>
              <a href="/nairobi/" title="Nairobi, Kenya">Coding Workshops</a>
            </li>
            <li>
              <a href="/brussels/" title="Brussels, Belgium">Continuous Learning Groups</a>
            </li>
            <li>
              <a href="/hackership/" title="Hackership, Berlin, Germany">Hackership</a>
            </li>
            <li>
              <a href="/dortmund/" title="Dortmund, Germany">IT Labs</a>
            </li>
            <li>
              <a href="/melbourne/" title="Melbourne, Australia">Learners Meetup</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clearfix big-data"></div>
    </div>
  </div>
</nav>
