<nav class="top_bar">
  <div class="container">

    <div class="logo_top_bar">
      <a href="/">OpenTechSchool</a> 
      <div class="dropdown">
        <a class="dropdown_toggle" data-toggle="dropdown" href="#">Choose your Location</a>
        <ul class="dropdown_menu" role="menu" aria-labelledby="dLabel">
          <li><a tabindex="-1" href="/berlin/">Berlin</a></li>
          <li><a tabindex="-1" href="/stockholm/">Stockholm</a></li>
        </ul>
      </div>
    </div>

    <ul class="nav nav_external">
      <li>
        <a href="http://blog.opentechschool.org/">Blog</a>
      </li>
      <li>
        <a href="https://twitter.com/OpenTechSchool">Twitter</a>
      </li>
      <li>
        <a href="http://www.facebook.com/OpenTechSchool">Facebook</a>
      </li>
      <li>
        <a href="https://github.com/OpenTechSchool">Github</a>
      </li>
    </ul>

    <ul class="nav nav_internal">
      <li>
        <a href="/about.html">About</a>
      </li>
      <li>
        <a href="/team.html">Team</a>
      </li>
      <li>
        <a href="/testimonials.html">Testimonials</a>
      </li>
      <li>
        <a href="/press.html">Press</a>
      </li>
    </ul>
    
    <div class="clearfix">
      
    </div>

  </div>
</nav>