// By writing the media queries as mixins,
// we can compile them into the IE stylesheet as well
@mixin min440(){
  .float_list > li {
    float: left;
  }
  .float_list_4 > li {
    width: 46%;
  }
}

@mixin min768() {
  body {
    font-size: 87.5%;
  }

  #shownav + label div {
    display: none;
  }
  #shownav + label div:nth-of-type(1) {
    display: none;
  }
  .nav_internal {
    max-height: 1000px;
  }
  .nav {
    float: right;
    clear: none;
    li {
      float: left;
      border: none;
    }
  }

  .btn_navbar {
    display: none;
  }

  .collapse {
    display: block;
  }

  .container_narrow {
    width: 100%;
    padding: 0;
  }

  .top_bar {
    position: absolute;
    height: 2.5em;
    overflow: hidden;
    padding: 30px 0;
    -webkit-transition: padding-bottom .25s ease-in;
    -moz-transition: padding-bottom .25s ease-in;
    -o-transition: padding-bottom .25s ease-in;
    transition: padding-bottom .25s ease-in;
  }

  .top_bar.affix {
    position: fixed;
    padding: 10px 0;
  }

  .logo_top_bar {
    width: auto;
  }

  .col_left {
    width: 44%;
    float: left;
    margin: 0 1.75% 1.5em 0;
  }

  .col_right {
    width: 44%;
    float: right;
    margin: 0 0 1.5em 1.75%;
  }

  .two-third {
    width: 60%;
    margin-right: 6.4%;
    float: left;
  }

  .a-third {
    width: 30%;
    margin-right: 3.1%;
    float: left;
  }

  .float_list_4 > li {
    width: 21%;
  }

  .site_header {
    padding-top: 7em;
  }

  .site_header_core img,
  .carousel_testimonial {
    padding-top: 3em;
  }

  .testimonial-caption{
    font-size: 1em;
  }

  .site_header_img {
    background-size: 100%;
  }

  .name {
    .close-up {
      margin-right: 1.5em;
      float: left;
    }
    strong {
      margin-top: 2.4em;
    }
  }

  .discussion {
    width: 75%;
  }

  .topic {
    width: 50%;
    display: inline-block;
  }
}


@mixin min1000() {
  body {
    font-size: 100%;
  }
  .nav {
    float: right;
    clear: none;
    li {
      float: left;
      border: none;
    }
  }
}
