.nav {
  text-transform: uppercase;
  clear: both;
  a {
    display: block;
    padding: .5em;
    letter-spacing: 0.05em;
  }
}

.ots_icon {
  width: 28px;
  height: 28px;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  background: transparent url("../images/ots_icons.png") no-repeat 0 0;

  &.github {
    background-position: 0 0;
  }
  &.twitter {
    background-position: 0 -28px;
  }
  &.facebook {
    background-position: 0 -56px;
  }
  &.github:hover,
  &.github:focus {
    background-position: 0 -84px;
  }
  &.twitter:hover,
  &.twitter:focus {
    background-position: 0 -112px;
  }
  &.facebook:hover,
  &.facebook:focus {
    background-position: 0 -140px;
  }

  &.discourse {
    background-position: -28px 0;
  }

  &.discourse:hover,
  &.discourse:focus {
    background-position: -28px -83px;
  }
}

.nav_internal {
  margin-right: 7px;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#shownav {
  visibility: hidden;
  position: absolute;
  left: -1000px;
}
#shownav + label {
  position: absolute;
  right: 10px;
  top: 5px;
  bottom: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#shownav + label div {
  position: absolute;
  top: 15px;
  left: 0;
  height: 2px;
  background-color: #cccccc;
  width: 30px;
  display: block;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  &:nth-of-type(1) {
    -ms-transform: translate3d(0, -10px, 0);
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  &:nth-of-type(3) {
    -ms-transform: translate3d(0, 10px, 0);
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
}
#shownav:checked + label div {
  &:nth-of-type(1) {
    -ms-transform: translate3d(0, 0, 0) rotate(45deg);
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    -moz-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  &:nth-of-type(2) {
    opacity: 0;
  }
  &:nth-of-type(3) {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    -moz-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }
}
#shownav:checked ~ .nav_internal {
  max-height: 1000px;
}

.nav_external {
  padding-top: .65em;
  li {
    margin: 0 .25em;
    border-top: none;
  }
  a {
    border: 0;

    &.ots_icon {
      padding: 0px;
    }
  }

}

.btn_navbar {
  float: right;
  margin: 0.5em 0.75em;
  padding: 0;
  border: 2px solid $ots_blue_l;
  border-radius: .25em;
  background: transparent;
  cursor: pointer;
}
.btn_navbar .icon_bar {
  display: block;
  width: 1.25em;
  height: 2px;
  margin-top: 3px;
  background-color: $ots_blue_l;
}
.btn_navbar .icon_bar_last {
  margin-bottom: 2px;
}

.collapse {
  display: none;

  &.in {
    display: block;
    > li {
      text-align: center;
//      border-top: 1px solid $ots_blue;
    }
    .nav_external {
      width: 150px;
      margin: .25em auto;
      li {
        float: left;
      }
    }
  }
}

