/* variables */

 
/* colors */

$ots_blue: #085987; /* main blue, logo */
$ots_blue_l: #1F8AB6; /* Blue links */
$ots_blue_h: #2FB0D5; /* Blue hover states */
$ots_text: #222222; /* Default text color*/

$ots_text_i: #84ACC3; /* (Inverted) Text color on dark blue backgrounds */
$ots_text_i_l: #C1D5E1; /* (Inverted) Link color on dark blue backgrounds */

$ots_red_l: #E04C3E; /* Highlighted, red links, buttons, other highlights */
$ots_red_h: #FD4B22; /* Red hover states */

$white: #fff;