/* line 1, ../../sass/imports/grid.scss */
.container {
  width: 100%;
  max-width: 1020px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 10, ../../sass/imports/grid.scss */
img, object, embed {
  max-width: 100%;
}

/* line 14, ../../sass/imports/grid.scss */
img {
  height: auto;
}
