/*
Syntax error: Undefined variable: "$ots_blue".
        on line 111 of /Users/kristinaschneider/Projects/www2.opentechschool.org/sass/imports/main.scss

Backtrace:
/Users/kristinaschneider/Projects/www2.opentechschool.org/sass/imports/main.scss:111
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/script/variable.rb:49:in `_perform'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/script/node.rb:40:in `perform'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:216:in `visit_prop'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/root_node.rb:20:in `render'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/engine.rb:299:in `_render'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/engine.rb:246:in `render'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `call'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `run_callback'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:55:in `callback_action'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:35:in `update'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `each'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `modified'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:18:in `refresh'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:30:in `block in temporary_multipath_handler'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:27:in `each'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:17:in `block (2 levels) in run'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:16:in `each'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:16:in `block in run'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/rb-fsevent-0.4.3/lib/rb-fsevent/fsevent.rb:37:in `call'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/rb-fsevent-0.4.3/lib/rb-fsevent/fsevent.rb:37:in `run'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/monitor.rb:26:in `run'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm.rb:20:in `monitor'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/kristinaschneider/Projects/debtapp/ext/bin/compass:23:in `load'
/Users/kristinaschneider/Projects/debtapp/ext/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$ots_blue\".\A         on line 111 of /Users/kristinaschneider/Projects/www2.opentechschool.org/sass/imports/main.scss"; }
