/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* variables */
/* colors */
/* main blue, logo */
/* Blue links */
/* Blue hover states */
/* Default text color*/
/* Highlighted, red links, buttons, other highlights */
/* Red hover states */
/* line 1, ../sass/imports/_grid.scss */
.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 8, ../sass/imports/_grid.scss */
.container_narrow {
  max-width: 740px;
}

/* line 12, ../sass/imports/_grid.scss */
.container_wide {
  max-width: 1300px;
}

/* line 16, ../sass/imports/_grid.scss */
img, object, embed {
  max-width: 100%;
}

/* line 20, ../sass/imports/_grid.scss */
img {
  height: auto;
}

/* ========================================== */
/* ! Shared styles, OTS branding */
/* ========================================== */
/* line 5, ../sass/imports/_main.scss */
body {
  margin: 0;
  font-size: 75%;
  line-height: 1.5;
}

/* base font size: 12px, line-height: 18px; 14/21 on bigger screens */
/* line 6, ../sass/imports/_main.scss */
body, button, input, select, textarea {
  font-family: "Montserrat", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #222222;
}

/* line 8, ../sass/imports/_main.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.5;
}

/* line 13, ../sass/imports/_main.scss */
h1 {
  font-size: 2.5em;
}

/* line 16, ../sass/imports/_main.scss */
h2 {
  font-size: 2em;
}

/* line 19, ../sass/imports/_main.scss */
h3 {
  font-size: 1.25em;
}

/* line 22, ../sass/imports/_main.scss */
h4, h5, h6 {
  font-size: 1em;
}

/* line 27, ../sass/imports/_main.scss */
::-moz-selection {
  background: #fd4b22;
  color: #fff;
  text-shadow: none;
}

/* line 28, ../sass/imports/_main.scss */
::selection {
  background: #fd4b22;
  color: #fff;
  text-shadow: none;
}

/* line 32, ../sass/imports/_main.scss */
a,
a:link,
a:visited {
  color: #1f8ab6;
  text-decoration: none;
}

/* line 39, ../sass/imports/_main.scss */
a:hover,
a:active,
a:focus {
  color: #2fb0d5;
  text-decoration: none;
  outline: none;
}

/* buttons */
/* line 46, ../sass/imports/_main.scss */
.ots_action {
  background-color: #1f8ab6;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  padding: .25em 1em;
}

/* line 56, ../sass/imports/_main.scss */
a.ots_action,
a.ots_action:link,
a.ots_action:visited {
  color: #FFF;
  text-decoration: none;
}

/* line 63, ../sass/imports/_main.scss */
a.ots_action:hover,
a.ots_action:active,
a.ots_action:focus {
  text-decoration: none;
  background: #2fb0d5;
}

/* line 70, ../sass/imports/_main.scss */
a.ots_action_highlight,
a.ots_action_highlight:link,
a.ots_action_highlight:visited {
  background: #e04c3e;
}

/* line 76, ../sass/imports/_main.scss */
a.ots_action_highlight:hover,
a.ots_action_highlight:active,
a.ots_action_highlight:focus {
  background: #fd4b22;
}

/* line 80, ../sass/imports/_main.scss */
a.ots_action_city {
  padding: .75em 1.25em;
}

/* line 84, ../sass/imports/_main.scss */
body {
  line-height: 1.5em;
}

/* line 88, ../sass/imports/_main.scss */
p, ul, ol {
  margin-bottom: 1.5em;
}

/* line 93, ../sass/imports/_main.scss */
.bg_full {
  width: 100%;
  padding: 5% 0;
  background: #f4f4f4;
}

/* line 99, ../sass/imports/_main.scss */
.ots_logo {
  width: 304px;
  margin: 0 auto 2em auto;
  color: #085987;
}

/* line 105, ../sass/imports/_main.scss */
.ots_logo a {
  width: 304px;
  height: 100px;
  margin-bottom: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  background: transparent url("../images/ots_logo_v.png") no-repeat 0 0;
}

/* line 116, ../sass/imports/_main.scss */
.ots_logo a:focus, .ots_logo a:hover, .ots_logo a:active {
  outline: none;
  background-position: 0 -140px;
  outline: none;
}

/* line 123, ../sass/imports/_main.scss */
.site_header {
  padding: 4.5em 0 3em 0;
  text-align: center;
  font-size: 1.5em;
}

/* line 129, ../sass/imports/_main.scss */
.site_header_landing {
  background: #085987;
  color: #FFF;
}

/* line 134, ../sass/imports/_main.scss */
.site_header_city {
  color: #085987;
}

/* Style for list with floated list items. Responds to screen-width. */
/* line 141, ../sass/imports/_main.scss */
.float_list {
  list-style: none;
  padding: 0;
  overflow: hidden;
}

/* line 147, ../sass/imports/_main.scss */
.float_list > li {
  margin: 0 2% 1.5em 2%;
}

/* START move to media query */
/* line 152, ../sass/imports/_main.scss */
.float_list > li {
  float: left;
}

/* line 156, ../sass/imports/_main.scss */
.float_list_4 > li {
  width: 21%;
}

/* line 160, ../sass/imports/_main.scss */
.float_list_3 > li {
  width: 29%;
}

/* END move to media query */
/* List of OTS members, extends float list. Includes image and links. */
/* line 167, ../sass/imports/_main.scss */
.team_list > li {
  min-height: 8em;
  height: auto !important;
  height: 8em;
}

/* line 173, ../sass/imports/_main.scss */
.top_bar {
  width: 100%;
  z-index: 100;
  background: #FFF;
  color: #FFF;
}
/* line 178, ../sass/imports/_main.scss */
.top_bar .container {
  overflow: visible;
}

/* line 183, ../sass/imports/_main.scss */
.logo_top_bar {
  float: left;
  padding: 0.5em 0.75em;
}
/* line 187, ../sass/imports/_main.scss */
.logo_top_bar > a {
  display: block;
  float: left;
  width: 192px;
  height: 24px;
  margin-right: 1em;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* line 199, ../sass/imports/_main.scss */
.logo_top_bar > a,
.logo_top_bar > a:link,
.logo_top_bar > a:visited {
  background: transparent url("../images/ots_logo_meta.png") no-repeat 0 4px;
  color: #FFF;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* IE8 */
  filter: alpha(opacity=80);
  /* IE 5-7  */
}
/* line 208, ../sass/imports/_main.scss */
.logo_top_bar > a:hover,
.logo_top_bar > a:active,
.logo_top_bar > a:focus {
  color: #FFF;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE8 */
  filter: alpha(opacity=100);
  /* IE 5-7  */
}

/* line 216, ../sass/imports/_main.scss */
footer {
  font-size: .8571em;
  background: #085987;
  color: #84acc3;
  padding: 3em 0;
  height: auto;
}
/* line 222, ../sass/imports/_main.scss */
footer p {
  text-align: center;
}

/* line 229, ../sass/imports/_main.scss */
footer a,
footer a:link,
footer a:visited {
  color: #c1d5e1;
}

/* line 235, ../sass/imports/_main.scss */
footer a:hover,
footer a:active,
footer a:focus {
  color: #FFF;
}

/* line 239, ../sass/imports/_main.scss */
.main_img {
  text-align: center;
  height: 24em;
  overflow: hidden;
}

/* News blocks, events */
/* line 248, ../sass/imports/_main.scss */
.date {
  font-size: .75em;
  font-style: italic;
  color: grey;
}

/* Styleguide*/
/* line 258, ../sass/imports/_main.scss */
.sg_list {
  list-style: none;
  padding: 0;
}

/* line 263, ../sass/imports/_main.scss */
.sg_list small {
  display: block;
  margin-bottom: .75em;
  color: #888;
  font-style: italic;
}

/* line 270, ../sass/imports/_main.scss */
.sg_color {
  display: inline-block;
  border-radius: 4px;
  padding: 0 1em;
  color: transparent;
}

/* line 277, ../sass/imports/_main.scss */
.sg_textarea {
  width: 90%;
  font-size: .625em;
  color: #888;
  border: 1px solid #888;
  padding: .5em;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  border-radius: 4px;
}

/* Testimonials */
/* line 289, ../sass/imports/_main.scss */
.testimonial {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 400px;
  height: auto !important;
  height: 400px;
}

/* line 299, ../sass/imports/_main.scss */
.testimonial blockquote {
  position: absolute;
  z-index: 10;
  font-size: 2em;
  float: left;
  width: 25%;
}

/* line 307, ../sass/imports/_main.scss */
.testimonial img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
  display: block;
}

/* line 315, ../sass/imports/_main.scss */
.testimonial img.close-up {
  width: 350px;
  position: relative;
  display: block;
  margin: 15px;
  float: left;
}

/* line 323, ../sass/imports/_main.scss */
.testimonial img.close-up.right {
  float: right;
}

/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /*  .logo {
      background: url(logo2x.jpg) no-repeat;
      background-size: 212px 303px;
    }*/
}
/* ==|== non-semantic helper classes ======================================== */
/* line 344, ../sass/imports/_main.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 345, ../sass/imports/_main.scss */
.clearfix:after {
  clear: both;
}

/* line 346, ../sass/imports/_main.scss */
.clearfix {
  zoom: 1;
}

/* line 347, ../sass/imports/_main.scss */
.center {
  text-align: center;
}

/* ==|== print styles ======================================================= */
@media print {
  /* line 355, ../sass/imports/_main.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 356, ../sass/imports/_main.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 357, ../sass/imports/_main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 358, ../sass/imports/_main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 359, ../sass/imports/_main.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 360, ../sass/imports/_main.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 361, ../sass/imports/_main.scss */
  thead {
    display: table-header-group;
  }

  /* line 362, ../sass/imports/_main.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 363, ../sass/imports/_main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 365, ../sass/imports/_main.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 366, ../sass/imports/_main.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../sass/imports/_dropdown.scss */
.dropdown {
  position: relative;
  float: left;
}
/* line 5, ../sass/imports/_dropdown.scss */
.dropdown .dropdown_menu {
  display: none;
}
/* line 10, ../sass/imports/_dropdown.scss */
.dropdown.open .dropdown_menu {
  display: block;
  position: absolute;
  top: 2em;
  left: 0;
}
/* line 18, ../sass/imports/_dropdown.scss */
.dropdown.open :hover,
.dropdown.open :focus {
  color: red;
}

/* Styles specific for city template */
/* line 10, ../sass/imports/_city.scss */
.member_count {
  font-size: .666em;
  color: #666;
}

/* line 1, ../sass/imports/_nav.scss */
.nav {
  text-transform: uppercase;
  clear: both;
}
/* line 4, ../sass/imports/_nav.scss */
.nav a {
  display: block;
  padding: .5em .75em;
  letter-spacing: 0.05em;
}

/* line 12, ../sass/imports/_nav.scss */
.nav_external li {
  margin: 0 .5em;
  border-top: none;
}
/* line 16, ../sass/imports/_nav.scss */
.nav_external a {
  border: 0;
}
/* line 19, ../sass/imports/_nav.scss */
.nav_external .ots_nav_icon {
  width: 28px;
  height: 28px;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: transparent url("../images/ots_icons.png") no-repeat 50% 0;
}
/* line 28, ../sass/imports/_nav.scss */
.nav_external .github {
  background-position: 50% 0;
}
/* line 31, ../sass/imports/_nav.scss */
.nav_external .twitter {
  background-position: 50% -28px;
}
/* line 34, ../sass/imports/_nav.scss */
.nav_external .facebook {
  background-position: 50% -56px;
}

/* line 39, ../sass/imports/_nav.scss */
.btn_navbar {
  float: right;
  margin: 0.5em 0.75em;
  padding: 0;
  border: 2px solid #1f8ab6;
  border-radius: .25em;
  background: transparent;
  cursor: pointer;
}

/* line 48, ../sass/imports/_nav.scss */
.btn_navbar .icon_bar {
  display: block;
  width: 1.25em;
  height: 2px;
  margin-top: 3px;
  background-color: #1f8ab6;
}

/* line 55, ../sass/imports/_nav.scss */
.btn_navbar .icon_bar_last {
  margin-bottom: 2px;
}

/* line 59, ../sass/imports/_nav.scss */
.collapse {
  display: none;
}
/* line 62, ../sass/imports/_nav.scss */
.collapse.in {
  display: block;
}

/* line 6, ../sass/imports/_carousel.scss */
.carousel {
  position: relative;
  margin-bottom: 20px;
  line-height: 1;
}

/* line 12, ../sass/imports/_carousel.scss */
.carousel-inner {
  overflow: hidden;
  width: 100%;
  position: relative;
}

/* line 20, ../sass/imports/_carousel.scss */
.carousel .item {
  display: none;
  position: relative;
}
/* line 27, ../sass/imports/_carousel.scss */
.carousel .item > img {
  display: block;
  line-height: 1;
}
/* line 34, ../sass/imports/_carousel.scss */
.carousel .active,
.carousel .next,
.carousel .prev {
  display: block;
}
/* line 36, ../sass/imports/_carousel.scss */
.carousel .active {
  left: 0;
}
/* line 41, ../sass/imports/_carousel.scss */
.carousel .next,
.carousel .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 47, ../sass/imports/_carousel.scss */
.carousel .next {
  left: 100%;
}
/* line 50, ../sass/imports/_carousel.scss */
.carousel .prev {
  left: -100%;
}
/* line 54, ../sass/imports/_carousel.scss */
.carousel .next.left,
.carousel .prev.right {
  left: 0;
}
/* line 58, ../sass/imports/_carousel.scss */
.carousel .active.left {
  left: -100%;
}
/* line 61, ../sass/imports/_carousel.scss */
.carousel .active.right {
  left: 100%;
}

/* line 70, ../sass/imports/_carousel.scss */
.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: white;
  text-align: center;
  background: #efefef;
  border: 3px solid white;
}
/* line 95, ../sass/imports/_carousel.scss */
.carousel-control.right {
  left: auto;
  right: 15px;
}
/* line 101, ../sass/imports/_carousel.scss */
.carousel-control:hover {
  color: white;
  text-decoration: none;
}

/* line 112, ../sass/imports/_carousel.scss */
.carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  background: #efefef;
  background: rgba(0, 0, 0, 0.75);
}

/* line 121, ../sass/imports/_carousel.scss */
.testimonial-caption {
  left: auto;
  width: 450px;
  bottom: 10px;
  right: 10px;
  text-align: right;
}

/* line 129, ../sass/imports/_carousel.scss */
.carousel-caption h4,
.carousel-caption p {
  color: white;
  line-height: 20px;
}

/* line 133, ../sass/imports/_carousel.scss */
.carousel-caption h4 {
  margin: 0 0 5px;
}

/* line 136, ../sass/imports/_carousel.scss */
.carousel-caption p {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  /* line 2, ../sass/imports/_mediaqueries.scss */
  body {
    font-size: 87.5%;
  }

  /* line 5, ../sass/imports/_mediaqueries.scss */
  .nav {
    float: right;
    clear: none;
  }
  /* line 8, ../sass/imports/_mediaqueries.scss */
  .nav li {
    float: left;
    border: none;
  }

  /* line 14, ../sass/imports/_mediaqueries.scss */
  .btn_navbar {
    display: none;
  }

  /* line 18, ../sass/imports/_mediaqueries.scss */
  .collapse {
    display: block;
  }

  /* line 22, ../sass/imports/_mediaqueries.scss */
  .top_bar {
    height: 2.5em;
    padding: 2em 0;
  }

  /* line 27, ../sass/imports/_mediaqueries.scss */
  .top_bar.affix {
    position: fixed;
    border-bottom: 1px solid #085987;
  }

  /* line 32, ../sass/imports/_mediaqueries.scss */
  .col_left {
    width: 46%;
    float: left;
    margin: 0 4% 1.5em 0;
  }

  /* line 38, ../sass/imports/_mediaqueries.scss */
  .col_right {
    width: 46%;
    float: right;
    margin: 0 0 1.5em 4%;
  }
}
