/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* variables */
/* colors */
/* main blue, logo */
/* Blue links */
/* Blue hover states */
/* Default text color*/
/* Highlighted, red links, buttons, other highlights */
/* Red hover states */
/* line 1, /Users/simon/Projekte/ots/www2/sass/imports/_grid.scss */
.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 9, /Users/simon/Projekte/ots/www2/sass/imports/_grid.scss */
img, object, embed {
  max-width: 100%;
}

/* line 13, /Users/simon/Projekte/ots/www2/sass/imports/_grid.scss */
img {
  height: auto;
}

/* ========================================== */
/* ! Shared styles, OTS branding */
/* ========================================== */
/* line 5, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
body {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
}

/* line 6, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
body, button, input, select, textarea {
  font-family: "Montserrat", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #222222;
}

/* line 8, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
::-moz-selection {
  background: #fd4b22;
  color: #fff;
  text-shadow: none;
}

/* line 9, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
::selection {
  background: #fd4b22;
  color: #fff;
  text-shadow: none;
}

/* line 13, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
a,
a:link,
a:visited {
  color: #1f8ab6;
  text-decoration: none;
}

/* line 20, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
a:hover,
a:active,
a:focus {
  color: #1f8ab6;
  text-decoration: underline;
}

/* buttons */
/* line 26, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.ots_action {
  background: #1f8ab6;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  padding: .25em 1em;
}

/* line 36, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
a.ots_action,
a.ots_action:link,
a.ots_action:visited {
  color: #FFF;
  text-decoration: none;
}

/* line 43, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
a.ots_action:hover,
a.ots_action:active,
a.ots_action:focus {
  text-decoration: none;
  background: #1f8ab6;
}

/* line 50, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
a.ots_action_highlight,
a.ots_action_highlight:link,
a.ots_action_highlight:visited {
  background: #e04c3e;
}

/* line 56, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
a.ots_action_highlight:hover,
a.ots_action_highlight:active,
a.ots_action_highlight:focus {
  background: #fd4b22;
}

/* line 60, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
body {
  line-height: 1.5em;
}

/* line 64, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
p {
  margin-bottom: 1.5em;
}

/* line 69, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.bg_full {
  width: 96%;
  margin: 0 2%;
  padding: 5% 0;
  background: beige;
}

/* line 76, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 80, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
h2 {
  text-align: center;
  border-bottom: 1px solid #EEE;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 1.5em;
}

/* line 88, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
h2 span {
  background: #FFF;
  padding: .5em 1em;
  position: relative;
  bottom: -0.75em;
}

/* line 95, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.ots_logo {
  width: 304px;
  margin: 0 auto 2em auto;
  color: #085987;
}

/* line 101, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.ots_logo a {
  width: 304px;
  height: 100px;
  margin-bottom: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  background: transparent url("../images/ots_logo_v.png") no-repeat 0 0;
}

/* line 112, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.ots_logo a:focus, .ots_logo a:hover, .ots_logo a:active {
  outline: none;
  background-position: 0 -140px;
  outline: none;
}

/* line 119, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.site_header {
  margin: 0 2%;
  padding: 4.5em 0 3em 0;
  text-align: center;
  font-size: 1.5em;
}

/* line 126, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.site_header_landing {
  background: #085987;
  color: #FFF;
}

/* line 131, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.site_header_city {
  color: #085987;
  text-align: left;
}

/* Style for list with floated list items. Responds to screen-width. */
/* line 140, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.float_list {
  text-align: center;
  list-style: none;
  padding: 0;
  overflow: hidden;
}

/* line 147, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.float_list > li {
  float: left;
  margin: 0 2% 1.5em 2%;
}

/* line 152, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.float_list_4 > li {
  width: 21%;
}

/* line 156, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.float_list_3 > li {
  width: 29%;
}

/* List of OTS members, extends float list. Includes image and links. */
/* line 161, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.team_list > li {
  min-height: 8em;
  height: auto !important;
  height: 8em;
}

/* line 167, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.top_bar {
  z-index: 100;
  width: 96%;
  margin: 2% 2% 0;
  background: #085987;
  color: #FFF;
  font-size: .6666em;
}
/* line 174, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.top_bar .container {
  overflow: visible;
}

/* line 179, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
footer {
  width: 96%;
  margin: 0 2% 2% 2%;
  font-size: 12px;
  background: #085987;
  color: #FFF;
}

/* line 187, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.logo_top_bar {
  float: left;
  padding: 0.5em 0.75em;
}
/* line 191, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.logo_top_bar > a {
  display: block;
  float: left;
  width: 192px;
  margin-right: 1em;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* line 202, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.logo_top_bar > a,
.logo_top_bar > a:link,
.logo_top_bar > a:visited {
  background: transparent url("../images/ots_logo_meta.png") no-repeat 0 4px;
  color: #FFF;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* IE8 */
  filter: alpha(opacity=80);
  /* IE 5-7  */
}
/* line 211, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.logo_top_bar > a:hover,
.logo_top_bar > a:active,
.logo_top_bar > a:focus {
  color: #FFF;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE8 */
  filter: alpha(opacity=100);
  /* IE 5-7  */
}

/* line 219, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
footer {
  text-align: center;
  padding: 3em 0;
  height: auto;
}

/* line 230, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
footer a,
.meta_nav a,
footer a:link,
.meta_nav a:link,
footer a:visited,
.meta_nav a:visited {
  color: #FFF;
  text-decoration: underline;
}

/* line 237, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
footer a:hover,
footer a:active,
footer a:focus {
  color: #FFF;
  text-decoration: underline;
}

/* line 243, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.main_img {
  text-align: center;
  height: 24em;
  overflow: hidden;
}

/* Styleguide*/
/* line 251, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.sg_list {
  list-style: none;
  padding: 0;
}

/* line 256, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.sg_list small {
  display: block;
  margin-bottom: .75em;
  color: #888;
  font-style: italic;
}

/* line 263, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.sg_color {
  display: inline-block;
  border-radius: 4px;
  padding: 0 1em;
  color: transparent;
}

/* line 270, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.sg_textarea {
  width: 90%;
  font-size: .625em;
  color: #888;
  border: 1px solid #888;
  padding: .5em;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  border-radius: 4px;
}

/* Testimonials */
/* line 282, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.testimonial {
  overflow: hidden;
  color: #FFF;
  position: relative;
  width: 100%;
  min-height: 400px;
  height: auto !important;
  height: 400px;
}

/* line 292, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.testimonial blockquote {
  position: absolute;
  z-index: 10;
  font-size: 2em;
  float: left;
  width: 25%;
}

/* line 300, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.testimonial img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
  display: block;
}

/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /*  .logo {
      background: url(logo2x.jpg) no-repeat;
      background-size: 212px 303px;
    }*/
}
/* ==|== non-semantic helper classes ======================================== */
/* line 326, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 327, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.clearfix:after {
  clear: both;
}

/* line 328, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.clearfix {
  zoom: 1;
}

/* line 329, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
.center {
  text-align: center;
}

/* ==|== print styles ======================================================= */
@media print {
  /* line 337, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 338, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 339, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 340, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 341, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 342, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 343, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
  thead {
    display: table-header-group;
  }

  /* line 344, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 345, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 347, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 348, /Users/simon/Projekte/ots/www2/sass/imports/_main.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1, /Users/simon/Projekte/ots/www2/sass/imports/_dropdown.scss */
.dropdown {
  position: relative;
  float: left;
}
/* line 5, /Users/simon/Projekte/ots/www2/sass/imports/_dropdown.scss */
.dropdown .dropdown_menu {
  display: none;
}
/* line 10, /Users/simon/Projekte/ots/www2/sass/imports/_dropdown.scss */
.dropdown.open .dropdown_menu {
  display: block;
  position: absolute;
  top: 2em;
  left: 0;
}
/* line 18, /Users/simon/Projekte/ots/www2/sass/imports/_dropdown.scss */
.dropdown.open :hover,
.dropdown.open :focus {
  color: red;
}

/* line 2, /Users/simon/Projekte/ots/www2/sass/imports/_nav.scss */
.nav {
  text-transform: uppercase;
}
/* line 4, /Users/simon/Projekte/ots/www2/sass/imports/_nav.scss */
.nav a {
  display: block;
  padding: .5em .75em;
}

/* line 10, /Users/simon/Projekte/ots/www2/sass/imports/_nav.scss */
.nav_internal {
  clear: left;
}

/* line 15, /Users/simon/Projekte/ots/www2/sass/imports/_nav.scss */
.nav_external .ots_nav_icon {
  width: 28px;
  height: 28px;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: transparent url("../images/ots_icons.png") no-repeat 50% 0;
}
/* line 24, /Users/simon/Projekte/ots/www2/sass/imports/_nav.scss */
.nav_external .github {
  background-position: 50% 0;
}
/* line 27, /Users/simon/Projekte/ots/www2/sass/imports/_nav.scss */
.nav_external .twitter {
  background-position: 50% -28px;
}
/* line 30, /Users/simon/Projekte/ots/www2/sass/imports/_nav.scss */
.nav_external .facebook {
  background-position: 50% -56px;
}

/* line 35, /Users/simon/Projekte/ots/www2/sass/imports/_nav.scss */
button {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 41, /Users/simon/Projekte/ots/www2/sass/imports/_nav.scss */
.collapse {
  display: none;
}
/* line 44, /Users/simon/Projekte/ots/www2/sass/imports/_nav.scss */
.collapse.in {
  display: block;
}

@media screen and (min-width: 768px) {
  /* line 3, /Users/simon/Projekte/ots/www2/sass/imports/_mediaqueries.scss */
  .nav {
    float: right;
  }
  /* line 6, /Users/simon/Projekte/ots/www2/sass/imports/_mediaqueries.scss */
  .nav li {
    float: left;
  }

  /* line 11, /Users/simon/Projekte/ots/www2/sass/imports/_mediaqueries.scss */
  .btn_navbar {
    display: none;
  }

  /* line 15, /Users/simon/Projekte/ots/www2/sass/imports/_mediaqueries.scss */
  .collapse {
    display: block;
  }
}
