{% comment %}
  The ordering of the includes is important!  The _metadata template globally
  sets some variables such as `key` and `meetup`, which might be (and are)
  overridden  in _head.html and _main_nav.html as well.
{% endcomment %}
{% include _head.html %}
{% include _main_nav.html %}
{% include _metadata doc=page %}
<header class="site_header site_header_img site_header_{{ key | replace: '-', '_' }}">
  <div class="container">
    <div class="city_title">
      <h1>
        <a href="{{site.baseurl}}/{{key}}/">{{page.title}}</a>
      </h1>
      {% if page.tagline %}
        <h2 class="tagline">
          {{page.tagline}}
        </h2>
      {% endif %}
    </div>

    <div class="city_cta">
      <a class="ots_action ots_action_city ots_action_highlight" href="https://www.meetup.com/{{meetup}}">
        Join now
        <span class="member_count" id="membersCount"></span>
      </a>
    </div>
  </div>
</header>

<section class="bg_full bg_full_white about">
  <div class="container container_narrow clearfix">
    {{content}}
  </div>
</section>

<div class="bg_full">
  <div class="container clearfix">
    <div class="blocky col_left">
      <section>
        <h3 class="head">
          Upcoming events
          <a href="webcal://www.meetup.com/{{meetup}}/events/ical/OpenTechSchool+{{page.title}}/" class="tiny_button">&raquo;cal</a>
        </h3>
        {% if page.custom_events %}
          {{page.custom_events}}
        {% endif %}
        <div id="upcomingEvents"></div>
        <a href="https://www.meetup.com/{{meetup}}/suggestion">Suggest one!</a>
      </section>
    </div>

    <div class="col_right blocky">
      <section>
        <h3 class="head">
          Latest news
          <a href="https://{{site.blog_domain}}/feeds/{{key}}.xml" class="tiny_button">&raquo;rss</a>
        </h3>

        <div id="js-blog-posts-list"></div>
        <script type="text/x-template" data-template="blog-post">
          <article class="blog-post">
            <h3 class="post_title"><a href="https://{{site.blog_domain}}${link}">${title}</a></h3>
            <p class="date">
              ${date}
            </p>
          </article>
        </script>
      </section>
    </div>
  </div>
  <div class="container clearfix" id="chapterConversations"></div>
</div>

<section class="bg_full bg_full_white">
  <div class="container container_wide">
    {% if page.discourse_group %}

      <h2 class="team_title">Team {{page.title}} (<a href="//discourse.opentechschool.org/groups/{{page.discourse_group}}/members">@{{page.discourse_group}}</a>)</h2>
      <div id="teamList">
        loading ...
      </div>
    {% else %}
      <h2 class="team_title">Team {{page.title}}</h2>
      <ul class="float_list float_list_4 team_list">
        {% for member in page.members %}
        {% include _member member=member %}
        <li class="member">
          <img src="{{site.baseurl}}/images/team/{{img}}.jpg">
          <h3>
            {{ name }}
          </h3>
          {% if email %}
            <p>{{ email }}</p>
          {% endif %}
        </li>
        {% endfor %}
        <li class="join">
          <div>
            {% if page.mailing_list %}
            <form action="https://groups.google.com/a/opentechschool.org/group/{{ page.mailing_list }}/boxsubscribe">
              <input type="text" class="subscribe_email" name="email" placeholder="your@email">
              <input type="submit" name="sub" value="Subscribe">
            </form>
            {% endif %}
          </div>
          <h3>You?</h3>
        {% if page.mailing_list %}
          <p>{{ page.mailing_list }}@opentechschool.org</p>
        {% endif %}
        </li>
      </ul>
    {% endif %}
    {% if page.twitter %}
    <div class="team_twitter">
      <a class="twitter-timeline"
        href="https://twitter.com/{{page.twitter}}"
        data-widget-id="{{page.widget_id}}">Tweets by @{{page.twitter}}</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    {% endif %}
    <a href="/dashboard?{{ meetup }}" class="tiny_button">&raquo;admin</a>
  </div>
</section>

<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.0/react.js" type="text/javascript" charset="utf-8"></script>
<script src="/scripts/widgets.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
   $(function() {
    React.renderComponent(OTS.Widgets.UpcomingEventsPreview({teams: OTS.config.chapters, chapterNames: ['{{meetup}}'], page: 5, hideTeams: true}), document.getElementById('upcomingEvents'));

    React.renderComponent(OTS.Widgets.ChapterConversations({teams: OTS.config.chapters, path:"/category/chapters/{{key}}.json"}), document.getElementById('chapterConversations'));

    React.renderComponent(OTS.Widgets.MembersCounter({chapterName: '{{meetup}}'}), document.getElementById('membersCount'));


  {% if page.discourse_group %}
    React.renderComponent(OTS.Widgets.TeamList({team: '{{page.discourse_group}}'}), document.getElementById('teamList'));
  {% endif %}
   });

</script>

{% include _footer.html %}
{% include _scripts.html %}
{% include _metadata doc=page %}
{% include _load_blog_feed.html feed=key %}
{% include _end.html %}
