{% include _head.html %}
{% include _meta_nav.html %}

<header class="site_header">
  <div class="container">

    <h1 class="ots_logo">
      <a href="/">OpenTechSchool</a>
    </h1>

    <nav>
      <ul class="nav_list">
        <li>
          <a href="/#about">About</a>
        </li>
        <li>
          <a href="/#contact">Contact</a>
        </li>
        <li>
          <a href="/#events">Events</a>
        </li>
        <li>
          <a href="/#team">Team</a>
        </li>
        <li>
          <a href="http://blog.opentechschool.org/" >Blog</a>
        </li>
      </ul>
    </nav>

  </div>
</header>


{{ content }}

{% include _footer.html %}
