{% include _head.html %}
{% include _main_nav.html %}
<header class="site_header site_header_core">
  <div class="container container_wide">
    <h1>
      {{page.title}}
    </h1>
    {% if page.image %}
        <img src="{{site.baseurl}}/{{page.image}}" width="1300" height="488" alt="{{page.title}}">
    {% else %}
        <img src="{{site.baseurl}}/images/bg_about.jpg" width="1300" height="488" alt="Bg About">
    {% endif %}
  </div>
</header>
<section class="bg_full">
  <div class="container container_narrow">
    {{ content }}
  </div>
</section>


<section class="bg_full">
  <div class="container container_narrow">
    <h3>Currently run by</h3>
    <ul>
        {% for city in site.cities %}
          {% if city.does contains page.indicator %}
            {% include _metadata doc=city %}
            <li>
              <a href="{{site.baseurl}}/{{key}}" title="{{city.location}}">
                {{city.title}}
              </a>
            </li>
          {% endif %}
        {% endfor %}
    </ul>
  </div>
</section>
{% include _footer.html %}
{% include _scripts.html %}
{% include _end.html %}
