/* Styles specific for city template */

.city_title {
}

.city_cta {
}

.member_count {
  display: block;
  font-size: .666em;
}

.tagline {
  font-size: 35px;
  line-height: 1.2;
  margin-bottom: 1em;
  text-shadow: 0 1px 1px rgba(255,255,255,.8);
}

.site_header_img {
  color: $ots_blue;
  background-size: 768px;
  background-repeat: no-repeat;
}

.site_header_berlin {
  background-image: url(/images/bg_berlin.jpg);
  background-position: 50% 55%;
}

.site_header_stockholm {
  background-image: url(/images/bg_stockholm.jpg);
  background-position: 50% 50%;
}

.site_header_melbourne {
  background-image: url(/images/bg_melbourne.jpg);
  background-position: 50% 0%;
}

.site_header_hamburg {
  background-image: url(/images/bg_hamburg.jpg);
  background-position: 50% 0%;
}

.site_header_dortmund {
  background-image: url(/images/bg_dortmund.jpg);
  background-position: 50% 0%;
}

.site_header_ramallah {
  background-image: url(../images/bg_ramallah.jpg);
  background-position: 50% 0%;
}

.site_header_zurich {
  background-image: url(../images/bg_zurich.jpg);
  background-position: 30% 5%;
  background-size: 105%;
}

.site_header_about {
  height: 600px;
  background-size: 1300px;
  background-image: url(/images/bg_about.jpg);
  background-position: 50% 50%;
}

