/* Styles specific for city template */

.city_title {
}

.city_cta {
}

.member_count {
  display: block;
  font-size: .666em;
}

.tagline {
  font-size: 35px;
  line-height: 1.2;
  margin-bottom: 1em;
  text-shadow: 0 1px 1px rgba(255,255,255,.8);
}

.site_header_city {
  color: $ots_blue;
  background-size: 768px;
}

.site_header_stockholm {
  background-image: url(/images/bg_stockholm.jpg);
  background-position: 50% 30%;
}

.site_header_berlin {
  background-image: url(/images/bg_berlin.jpg);
  background-position: 50% 50%;
}
