.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  overflow: visible;
}

.container_narrow {
  max-width: 740px;
  width: 90%;
  padding: 0 5%;
}

.container_wide {
  max-width: 1300px;
}

img, object, embed {
  max-width: 100%;
}

img {
  height: auto;
}

