/* ========================================== */
/* ! Shared styles, OTS branding */
/* ========================================== */

body { margin: 0; font-size: 75%; line-height: 1.5; } /* base font size: 12px, line-height: 18px; 14/21 on bigger screens */
body, button, input, select, textarea { font-family: "Montserrat", "Helvetica Neue", Arial, Helvetica, sans-serif; color: $ots_text; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.5;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.25em;
}
h4, h5, h6 {
  font-size: 1em;
}


::-moz-selection { background: $ots_red_h; color: #fff; text-shadow: none; }
::selection { background: $ots_red_h; color: #fff; text-shadow: none; }

a,
a:link,
a:visited {
  color: $ots_blue_l;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: $ots_blue_h;
  text-decoration: none;
  outline: none;
}

/* buttons */
.ots_action {
  text-shadow: 0 1px 2px rgba(0,0,0,.2);
  background-color: $ots_blue_l;
  @include background-image(linear-gradient(top, $ots_blue_l 0%,$ots_blue_l 50%,$ots_blue 51%,$ots_blue_l 100%));
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  padding: .25em 1em;
}

a.ots_action,
a.ots_action:link,
a.ots_action:visited {
  color: #FFF;
  text-decoration: none;
}

a.ots_action:hover,
a.ots_action:active,
a.ots_action:focus {
  text-decoration: none;
  background: $ots_blue_h;
  @include background-image(linear-gradient(top, $ots_blue_h 0%,$ots_blue_h 50%,$ots_blue_l 51%,$ots_blue_h 100%));
}

a.ots_action_highlight,
a.ots_action_highlight:link,
a.ots_action_highlight:visited {
  background: $ots_red_l;
  @include background-image(linear-gradient(top, $ots_red_l 0%,$ots_red_l 50%,#D40000 51%,$ots_red_l 100%));
}

a.ots_action_highlight:hover,
a.ots_action_highlight:active,
a.ots_action_highlight:focus {
  background: $ots_red_h;
  @include background-image(linear-gradient(top, $ots_red_h 0%,$ots_red_h 50%,$ots_red_l 51%,$ots_red_h 100%));

}

a.ots_action_city {
  padding: .75em 1.25em;
}

body {
  line-height: 1.5em;
}

p, ul, ol {
  margin-bottom: 1.5em;
}
.subtle {
  color: #666;
  font-style: italic;
}
small {
  font-size: .8571em;
}

pre,
code  {
  font-family: consolas, courier, monospace;
  font-size: 1em;
  white-space: pre;
  border-radius: .25em;
}

code {
  background-color: #F4FBFD;
  padding: 0 .25em;
}

pre {
  line-height: 1.2em;
  padding: 1em;
  margin: 1.5em 0;
  background-color: $ots_blue;
  color: $ots_text_i_l;
  code {
    color: inherit;
    background-color: inherit;
  }
}

.bg_full {
  ul, ol {
    margin-bottom: 1.5em;
    padding-left: 2em;
    list-style: none;
  }
  ol {
    list-style: decimal;
  }
  ul li:before {
    content: "";
    display: block;
    height: 3px;
    width: 1em;
    left: -2em;
    top: 0.9em;
    position: relative;
    background-color: $ots_text_i;
    border-radius: 1em;
  }
}

/* language switcher on press page */
ul.switch_lang {
  padding-left: 0;
  overflow: hidden;
  li:before {
    display: none;
  }
  li {
    float: left;
    margin-right: .5em;
    a {
      display: block;
      background-color: #FFF;
      padding: 0 .4em;
      border-radius: .25em;
    }
  }
  li.active a {
    background-color: $ots_blue;
    color: #FFF;
  }
}

.bg_full {
  width: 100%;
  padding: 5% 0;
  background: #f4f4f4;
}

.bg_full_white {
  background: #fff;
}

.ots_logo {
  width: 304px;
  margin: 0 auto 2em auto;
  color: $ots_blue;
}

.ots_logo a {
  width: 304px;
  height: 100px;
  margin-bottom: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  background: transparent url("../images/ots_logo_v.png") no-repeat 0 0;
}

.ots_logo a:focus, .ots_logo a:hover, .ots_logo a:active {
  outline: none;
  background-position: 0 -140px;
  outline: none;
}


.site_header {
  padding: 4.5em 0 3em 0;
  text-align: center;
  font-size: 1.5em;
}

.site_header_landing {
  background: $ots_blue;
  color: #FFF;
}


/* Style for list with floated list items. Responds to screen-width. */

.float_list {
  list-style: none;
  padding: 0;
  overflow: hidden;
}

.float_list > li {
  margin: 0 2% 1.5em 2%;
}



/* List of OTS members, extends float list. Includes image and links. */
.team_list > li {
  min-height: 8em;
  height:auto !important;
  height: 8em;
  text-align: center;
  &:before {
    display: none;
  }
  img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 100%;
  }
  h3 {
    font-size: 1em;
  }
  p {
    font-size: .714em;
    min-height: 6em;
    height:auto !important;
    height: 6em;
  }
}

.top_bar {
  width: 100%;
  z-index: 100;
  background: #FFF;
  color: #FFF;
  .container {
    overflow: visible;
  }
}

.logo_top_bar {
  float: left;
  padding: 0.5em 0.75em;

  > a {
    display: block;
    float: left;
    width: 192px;
    height: 24px;
    margin-right: 1em;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  > a,
  > a:link,
  > a:visited {
    background: transparent url("../images/ots_logo_meta.png") no-repeat 0 4px;
    color: #FFF;
    opacity:0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";  /* IE8 */
    filter: alpha(opacity=80); /* IE 5-7  */
  }
  > a:hover,
  > a:active,
  > a:focus {
    color: #FFF;
    opacity:1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";  /* IE8 */
    filter: alpha(opacity=100); /* IE 5-7  */
  }
}

footer {
  font-size: .8571em;
  background: $ots_blue;
  color: $ots_text_i;
  padding: 3em 0;
  height: auto;
  p {
    text-align: center;
  }
  small {
    font-size: .8571em;
  }
}

footer a,
footer a:link,
footer a:visited {
  color: $ots_text_i_l;
}

footer a:hover,
footer a:active,
footer a:focus {
  color: #FFF;
}

.main_img {
  text-align: center;
  height: 24em;
  overflow: hidden;
}


/* News blocks, events */

.date {
  font-size: .75em;
  font-style: italic;
  color: grey;
}



/* Styleguide*/

.sg_list {
  list-style: none;
  padding-left: 0 !important;
  > li:before {
    display: none;
  }
}

.sg_list small {
  display: block;
  margin-bottom: .75em;
  color: #888;
  font-style: italic;
}

.sg_color {
  display: inline-block;
  border-radius: 4px;
  padding: 0 1em;
  color: transparent;
}

.sg_textarea {
  width: 90%;
  font-size: .625em;
  color: #888;
  border: 1px solid #888;
  padding: .5em;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  border-radius: 4px;
}

/* Testimonials */

/* testimonials */
.testimonial {
  overflow: hidden;
  // color: #FFF;
  position: relative;
  width: 100%;
  min-height: 400px;
  height:auto !important;
  height: 400px;
  header {
    overflow: hidden;
  }
}

.testimonial_about {
  font-style: italic;
}

.name {
  b {
    color: #666;
    display: block;
    font-size: .5714em;
    margin-bottom: 1em;
  }
}

.testimonial blockquote {
  position: absolute;
  z-index: 10;
  font-size: 2em;
  float: left;
  width: 25%;
}

.testimonial img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
  display: block;
}

.testimonial img.close-up {
  width: 100%;
  max-width: 240px;
  height: auto;
  border-radius: 100%;
  position: relative;
  display: block;
  margin: 0 3em 1.5em 0;
  float: left;
}

.question {
  color: $ots_blue;
}



/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

/*  .logo {
    background: url(logo2x.jpg) no-repeat;
    background-size: 212px 303px;
  }*/

}



/* ==|== non-semantic helper classes ======================================== */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.center {text-align: center;}




/* ==|== print styles ======================================================= */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
