@media screen and (min-width: 440px) {
  .float_list > li {
    float: left;
  }
  .float_list_4 > li {
    width: 46%;
  }
}


@media screen and (min-width: 768px) {
  body {
    font-size: 87.5%;
  }
  .nav {
    float: right;
    clear: none;
    li {
      float: left;
      border: none;
    }
  }

  .btn_navbar {
    display: none;
  }

  .collapse {
    display: block;
  }

  .container_narrow {
    width: 100%;
    padding: 0;
  }

  .top_bar {
    position: absolute;
    height: 2.5em;
    padding: 30px 0;
    -webkit-transition: padding-bottom .25s ease-in;
    -moz-transition: padding-bottom .25s ease-in;
    -o-transition: padding-bottom .25s ease-in;
    transition: padding-bottom .25s ease-in;
  }

  .top_bar.affix {
    position: fixed;
    border-bottom: 1px solid $ots_blue;
    padding: 10px 0;
  }

  .col_left {
    width: 46%;
    float: left;
    margin: 0 4% 1.5em 0;
  }

  .col_right {
    width: 46%;
    float: right;
    margin: 0 0 1.5em 4%;
  }

  .float_list_4 > li {
    width: 21%;
  }

  .site_header {
    padding-top: 8.5em;
  }

  .site_header_city {
    background-size: 100%;
  }
  

}
