@media screen and (min-width: 768px) {
  body {
    font-size: 87.5%;
  }
  .nav {
    float: right;
    clear: none;
    li {
      float: left;
      border: none;
    }
  }

  .btn_navbar {
    display: none;
  }

  .collapse {
    display: block;
  }

  .top_bar {
    height: 2.5em;
    padding: 2em 0;
  }

  .top_bar.affix {
    position: fixed;
    border-bottom: 1px solid $ots_blue;
  }

  .col_left {
    width: 46%;
    float: left;
    margin: 0 4% 1.5em 0;
  }

  .col_right {
    width: 46%;
    float: right;
    margin: 0 0 1.5em 4%;
  }

}
