@media screen and (min-width: 768px) {

  .nav {
    float: right;

    li {
      float: left;
      border: none;
    }
  }

  .btn_navbar {
    display: none;
  }

  .collapse {
    display: block;
  }

  .top_bar {
    height: 40px;
  }

  .top_bar.affix {
    position: fixed;
    box-shadow: 0px 5px 5px $ots_text;
  }

}
