
.nav {
  text-transform: uppercase;

  li  {
    border-top: 1px solid $ots_blue_l;
  }

  a {
    display: block;
    padding: .5em .75em;
  }
}


.nav_external {
  li {
    margin: 0 .5em;
    border-top: none;
  }
  a {
    border: 0;
  }
  .ots_nav_icon {
    width: 28px;
    height: 28px;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: transparent url("../images/ots_icons.png") no-repeat 50% 0;
  }
  .github {
    background-position: 50% 0;
  }
  .twitter {
    background-position: 50% -28px;
  }
  .facebook {
    background-position: 50% -56px;
  }
}

.btn_navbar {
  float: right;
  margin-left: .25em;
  margin-right: .25em;
  padding: .25em;
  border: 2px solid $ots_blue_l;
  border-radius: .25em;
  background: transparent;
  cursor: pointer;
}
.btn_navbar .icon_bar {
  display: block;
  width: 1.5em;
  height: 2px;
  margin-top: 3px;
  background-color: $ots_blue_l;
}
.btn_navbar .icon_bar_last {
  margin-bottom: 2px;
}

.collapse {
  display: none;

  &.in {
    display: block;
  }
}

