/* variables */
 
/* colors */

$ots_blue: #085987; /* main blue, logo */
$ots_blue_l: #1F8AB6; /* Blue links */
$ots_blue_h: #2FB0D5; /* Blue hover states */
$ots_text: #222222; /* Default text color*/

$ots_blue_l: #E04C3E; /* Highlighted, red links, buttons, other highlights */
$ots_blue_h: #FD4B22; /* Red hover states */
